body{
  background-image: url(images/61.jpg);
  background-size: 100%;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  margin-top: 20px;
}

.links{
  width: 350px;
  padding: 10px;
  background-image: url(images/knopka.jpg);
  margin: 120px 460px;
}

.links a {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #FFF56E;
  text-decoration: none;
}

.forma {
  border: 1px solid black;
  background-color: white;
  width: 200px;
  height: 120px;
  margin: 60px 550px;
}

.white {
  background-color: black;
}

.forma .pic {
   text-align: center;
}

.tomain {
  background-image: url(images/texture.jpg);
  font-family: Geneva, Arial, Helvetica, sans-serif;
  width: 90px;
  padding: 10px;
  margin-top: 30px;
  margin: 20px 590px;
}

a {
  color: #FFF56E;
  text-decoration: none;
}

